*.suo
*.user
*.tmp

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[bB]uild/
bld/
[Bb]in/
[Oo]bj/

*.b#?
*.s#?
*.dep

*.tmp
*.bak

*.uvoptx
*.uvguix.*

*.uvopt
*.uvgui.*

JLinkLog.*
JLinkSettings.*
